In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
file_path = os.path.join(os.path.pardir, "data/credits.csv")
movies_credits_df = pd.read_csv(file_path)

In [5]:
movies_credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [6]:
movies_credits_df['cast'].iloc[0]

"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]"

In [7]:
movies_credits_df['crew'].iloc[0]

'[{\'credit_id\': \'52fe4284c3a36847f8024f49\', \'department\': \'Directing\', \'gender\': 2, \'id\': 7879, \'job\': \'Director\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f4f\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12891, \'job\': \'Screenplay\', \'name\': \'Joss Whedon\', \'profile_path\': \'/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f55\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Screenplay\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f5b\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12892, \'job\': \'Screenplay\', \'name\': \'Joel Cohen\', \'profile_path\': \'/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f61\', \'department\': \'Writing\', \'gender\': 0, \'id\': 12893, \'job\': \'Screenplay\', \'name\': \'Alec Sokolow\', \'profile_path\': \'/v79vlRYi94BZUQnkkyznbGUZLjT.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f67\', \'department\': \'Production\', \'gender\': 1, \'id\': 12894, \'job\': \'Producer\', \'name\': \'Bonnie Arnold\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f6d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12895, \'job\': \'Executive Producer\', \'name\': \'Ed Catmull\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f73\', \'department\': \'Production\', \'gender\': 2, \'id\': 12896, \'job\': \'Producer\', \'name\': \'Ralph Guggenheim\', \'profile_path\': None}, {\'credit_id\': \'52fe4284c3a36847f8024f79\', \'department\': \'Production\', \'gender\': 2, \'id\': 12897, \'job\': \'Executive Producer\', \'name\': \'Steve Jobs\', \'profile_path\': \'/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f8b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 8, \'job\': \'Editor\', \'name\': \'Lee Unkrich\', \'profile_path\': \'/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg\'}, {\'credit_id\': \'52fe4284c3a36847f8024f91\', \'department\': \'Art\', \'gender\': 2, \'id\': 7883, \'job\': \'Art Direction\', \'name\': \'Ralph Eggleston\', \'profile_path\': \'/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg\'}, {\'credit_id\': \'598331bf925141421201044b\', \'department\': \'Editing\', \'gender\': 2, \'id\': 1168870, \'job\': \'Editor\', \'name\': \'Robert Gordon\', \'profile_path\': None}, {\'credit_id\': \'5892168cc3a36809660095f9\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1552883, \'job\': \'Foley Editor\', \'name\': \'Mary Helen Leasman\', \'profile_path\': None}, {\'credit_id\': \'5531824d9251415289000945\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1453514, \'job\': \'Animation\', \'name\': \'Kim Blanchette\', \'profile_path\': None}, {\'credit_id\': \'589215969251412dcb009bf6\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414182, \'job\': \'ADR Editor\', \'name\': \'Marilyn McCoppen\', \'profile_path\': None}, {\'credit_id\': \'589217099251412dc500a018\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Orchestrator\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5693e6b29251417b0e0000e3\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1429549, \'job\': \'Color Timer\', \'name\': \'Dale E. Grahn\', \'profile_path\': None}, {\'credit_id\': \'572e2522c3a36869e6001a9c\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7949, \'job\': \'CG Painter\', \'name\': \'Robin Cooper\', \'profile_path\': None}, {\'credit_id\': \'574f12309251415ca1000012\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7879, \'job\': \'Original Story\', \'name\': \'John Lasseter\', \'profile_path\': \'/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg\'}, {\'credit_id\': \'574f1240c3a3682e7300001c\', \'department\': \'Writing\', \'gender\': 2, \'id\': 12890, \'job\': \'Original Story\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'574f12519251415c92000015\', \'department\': \'Writing\', \'gender\': 0, \'id\': 7911, \'job\': \'Original Story\', \'name\': \'Joe Ranft\', \'profile_path\': \'/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg\'}, {\'credit_id\': \'574f12cec3a3682e82000022\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1629419, \'job\': \'Post Production Supervisor\', \'name\': \'Patsy Bouge\', \'profile_path\': None}, {\'credit_id\': \'574f14f19251415ca1000082\', \'department\': \'Art\', \'gender\': 0, \'id\': 7961, \'job\': \'Sculptor\', \'name\': \'Norm DeCarlo\', \'profile_path\': None}, {\'credit_id\': \'5751ae4bc3a3683772002b7f\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 12905, \'job\': \'Animation Director\', \'name\': \'Ash Brannon\', \'profile_path\': \'/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg\'}, {\'credit_id\': \'5891edbe9251412dc5007cd6\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Music\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'589213d39251412dc8009832\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748707, \'job\': \'Layout\', \'name\': \'Roman Figun\', \'profile_path\': None}, {\'credit_id\': \'5892173dc3a3680968009351\', \'department\': \'Sound\', \'gender\': 2, \'id\': 4949, \'job\': \'Orchestrator\', \'name\': \'Don Davis\', \'profile_path\': None}, {\'credit_id\': \'589217cec3a3686b0a0052ba\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1372885, \'job\': \'Music Editor\', \'name\': \'James Flamberg\', \'profile_path\': None}, {\'credit_id\': \'58921831c3a3686348004a64\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1739962, \'job\': \'Negative Cutter\', \'name\': \'Mary Beth Smith\', \'profile_path\': None}, {\'credit_id\': \'58921838c3a36809700096c0\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748513, \'job\': \'Negative Cutter\', \'name\': \'Rick Mackay\', \'profile_path\': None}, {\'credit_id\': \'589218429251412dd1009d1b\', \'department\': \'Art\', \'gender\': 0, \'id\': 1458006, \'job\': \'Title Designer\', \'name\': \'Susan Bradley\', \'profile_path\': None}, {\'credit_id\': \'5891ed99c3a3680966007670\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1748557, \'job\': \'Supervising Technical Director\', \'name\': \'William Reeves\', \'profile_path\': None}, {\'credit_id\': \'5891edcec3a3686b0a002eb2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7885, \'job\': \'Songs\', \'name\': \'Randy Newman\', \'profile_path\': \'/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg\'}, {\'credit_id\': \'5891edf9c3a36809700075e6\', \'department\': \'Writing\', \'gender\': 2, \'id\': 7, \'job\': \'Original Story\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58920f0b9251412dd7009104\', \'department\': \'Crew\', \'gender\': 2, \'id\': 12890, \'job\': \'Supervising Animator\', \'name\': \'Pete Docter\', \'profile_path\': \'/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg\'}, {\'credit_id\': \'58920f1fc3a3680977009021\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Designer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'58920f389251412dd700912d\', \'department\': \'Production\', \'gender\': 0, \'id\': 12909, \'job\': \'Production Supervisor\', \'name\': \'Karen Robert Jackson\', \'profile_path\': None}, {\'credit_id\': \'58920fbd9251412dcb00969c\', \'department\': \'Crew\', \'gender\': 0, \'id\': 953331, \'job\': \'Executive Music Producer\', \'name\': \'Chris Montan\', \'profile_path\': None}, {\'credit_id\': \'589210069251412dd7009219\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7893, \'job\': \'Animation Director\', \'name\': \'Rich Quade\', \'profile_path\': None}, {\'credit_id\': \'589210329251412dcd00943b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8025, \'job\': \'Animation\', \'name\': \'Michael Berenstein\', \'profile_path\': None}, {\'credit_id\': \'5892103bc3a368096a009180\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 78009, \'job\': \'Animation\', \'name\': \'Colin Brady\', \'profile_path\': None}, {\'credit_id\': \'5892105dc3a3680968008db2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748682, \'job\': \'Animation\', \'name\': \'Davey Crockett Feiten\', \'profile_path\': None}, {\'credit_id\': \'589210669251412dcd009466\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454030, \'job\': \'Animation\', \'name\': \'Angie Glocka\', \'profile_path\': None}, {\'credit_id\': \'5892107c9251412dd1009613\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748683, \'job\': \'Animation\', \'name\': \'Rex Grignon\', \'profile_path\': None}, {\'credit_id\': \'5892108ac3a3680973008d3f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748684, \'job\': \'Animation\', \'name\': \'Tom K. Gurney\', \'profile_path\': None}, {\'credit_id\': \'58921093c3a3686348004477\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 8029, \'job\': \'Animation\', \'name\': \'Jimmy Hayward\', \'profile_path\': \'/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg\'}, {\'credit_id\': \'5892109b9251412dcd0094b0\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1426773, \'job\': \'Animation\', \'name\': \'Hal T. Hickel\', \'profile_path\': None}, {\'credit_id\': \'589210a29251412dc5009a29\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8035, \'job\': \'Animation\', \'name\': \'Karen Kiser\', \'profile_path\': None}, {\'credit_id\': \'589210ccc3a3680977009191\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748688, \'job\': \'Animation\', \'name\': \'Anthony B. LaMolinara\', \'profile_path\': None}, {\'credit_id\': \'589210d7c3a3686b0a004c1f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 587314, \'job\': \'Animation\', \'name\': \'Guionne Leroy\', \'profile_path\': None}, {\'credit_id\': \'589210e1c3a36809770091a7\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Animation\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'589210ee9251412dc200978a\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748689, \'job\': \'Animation\', \'name\': \'Les Major\', \'profile_path\': None}, {\'credit_id\': \'589210fa9251412dc8009595\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7892, \'job\': \'Animation\', \'name\': \'Glenn McQueen\', \'profile_path\': None}, {\'credit_id\': \'589211029251412dc8009598\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 555795, \'job\': \'Animation\', \'name\': \'Mark Oftedal\', \'profile_path\': None}, {\'credit_id\': \'5892110b9251412dc800959d\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7882, \'job\': \'Animation\', \'name\': \'Jeff Pidgeon\', \'profile_path\': \'/yLddkg5HcgbJg00cS13GVBnP0HY.jpg\'}, {\'credit_id\': \'58921113c3a36863480044e4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8017, \'job\': \'Animation\', \'name\': \'Jeff Pratt\', \'profile_path\': None}, {\'credit_id\': \'5892111c9251412dcb0097e9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1184140, \'job\': \'Animation\', \'name\': \'Steve Rabatich\', \'profile_path\': None}, {\'credit_id\': \'58921123c3a36809700090f6\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8049, \'job\': \'Animation\', \'name\': \'Roger Rose\', \'profile_path\': None}, {\'credit_id\': \'5892112b9251412dcb0097fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1509559, \'job\': \'Animation\', \'name\': \'Steve Segal\', \'profile_path\': None}, {\'credit_id\': \'589211349251412dc80095c3\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748691, \'job\': \'Animation\', \'name\': \'Doug Sheppeck\', \'profile_path\': None}, {\'credit_id\': \'5892113cc3a3680970009106\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8050, \'job\': \'Animation\', \'name\': \'Alan Sperling\', \'profile_path\': None}, {\'credit_id\': \'58921148c3a3686b0a004c99\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8010, \'job\': \'Animation\', \'name\': \'Doug Sweetland\', \'profile_path\': None}, {\'credit_id\': \'58921150c3a3680966009125\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 8044, \'job\': \'Animation\', \'name\': \'David Tart\', \'profile_path\': None}, {\'credit_id\': \'589211629251412dc5009b00\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1454034, \'job\': \'Animation\', \'name\': \'Ken Willard\', \'profile_path\': None}, {\'credit_id\': \'589211c1c3a3686b0a004d28\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 7887, \'job\': \'Visual Effects Supervisor\', \'name\': \'Thomas Porter\', \'profile_path\': None}, {\'credit_id\': \'589211d4c3a3680968008ed9\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1406878, \'job\': \'Visual Effects\', \'name\': \'Mark Thomas Henne\', \'profile_path\': None}, {\'credit_id\': \'589211f59251412dd4008e65\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748698, \'job\': \'Visual Effects\', \'name\': \'Oren Jacob\', \'profile_path\': None}, {\'credit_id\': \'58921242c3a368096a00939b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748699, \'job\': \'Visual Effects\', \'name\': \'Darwyn Peachey\', \'profile_path\': None}, {\'credit_id\': \'5892124b9251412dc5009bd2\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748701, \'job\': \'Visual Effects\', \'name\': \'Mitch Prater\', \'profile_path\': None}, {\'credit_id\': \'58921264c3a3686b0a004dbf\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748703, \'job\': \'Visual Effects\', \'name\': \'Brian M. Rosen\', \'profile_path\': None}, {\'credit_id\': \'589212709251412dcd009676\', \'department\': \'Lighting\', \'gender\': 1, \'id\': 12912, \'job\': \'Lighting Supervisor\', \'name\': \'Sharon Calahan\', \'profile_path\': None}, {\'credit_id\': \'5892127fc3a3686b0a004de5\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 7899, \'job\': \'Lighting Supervisor\', \'name\': \'Galyn Susman\', \'profile_path\': None}, {\'credit_id\': \'589212cdc3a3680970009268\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'CG Painter\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892130f9251412dc8009791\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748705, \'job\': \'Sculptor\', \'name\': \'Shelley Daniels Lekven\', \'profile_path\': None}, {\'credit_id\': \'5892131c9251412dd4008f4c\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7889, \'job\': \'Character Designer\', \'name\': \'Bob Pauley\', \'profile_path\': None}, {\'credit_id\': \'589213249251412dd100987b\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7918, \'job\': \'Character Designer\', \'name\': \'Bud Luckey\', \'profile_path\': \'/pcCh7G19FKMNijmPQg1PMH1btic.jpg\'}, {\'credit_id\': \'5892132b9251412dc80097b1\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 7, \'job\': \'Character Designer\', \'name\': \'Andrew Stanton\', \'profile_path\': \'/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg\'}, {\'credit_id\': \'58921332c3a368634800467b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 12915, \'job\': \'Character Designer\', \'name\': \'William Cone\', \'profile_path\': None}, {\'credit_id\': \'5892135f9251412dd4008f90\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1748706, \'job\': \'Character Designer\', \'name\': \'Steve Johnson\', \'profile_path\': None}, {\'credit_id\': \'58921384c3a3680973008fd4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1176752, \'job\': \'Character Designer\', \'name\': \'Dan Haskett\', \'profile_path\': None}, {\'credit_id\': \'5892138e9251412dc20099fc\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1088034, \'job\': \'Character Designer\', \'name\': \'Tom Holloway\', \'profile_path\': \'/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg\'}, {\'credit_id\': \'58921395c3a368097700942f\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1447465, \'job\': \'Character Designer\', \'name\': \'Jean Gillmore\', \'profile_path\': None}, {\'credit_id\': \'589213e2c3a3680973009026\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1748709, \'job\': \'Layout\', \'name\': \'Desirée Mourad\', \'profile_path\': None}, {\'credit_id\': \'589214099251412dc5009d57\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748710, \'job\': \'Set Dresser\', \'name\': "Kelly O\'Connell", \'profile_path\': None}, {\'credit_id\': \'58921411c3a3686b0a004f70\', \'department\': \'Art\', \'gender\': 0, \'id\': 1443471, \'job\': \'Set Dresser\', \'name\': \'Sonoko Konishi\', \'profile_path\': None}, {\'credit_id\': \'58921434c3a368096a00956e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1748711, \'job\': \'Set Dresser\', \'name\': \'Ann M. Rockwell\', \'profile_path\': None}, {\'credit_id\': \'5892144ac3a36809680090de\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748712, \'job\': \'Editorial Manager\', \'name\': \'Julie M. McDonald\', \'profile_path\': None}, {\'credit_id\': \'58921479c3a368096800910f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1589729, \'job\': \'Assistant Editor\', \'name\': \'Robin Lee\', \'profile_path\': None}, {\'credit_id\': \'5892148b9251412dd10099cc\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748716, \'job\': \'Assistant Editor\', \'name\': \'Tom Freeman\', \'profile_path\': None}, {\'credit_id\': \'589214959251412dcb009b1f\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748717, \'job\': \'Assistant Editor\', \'name\': \'Ada Cochavi\', \'profile_path\': None}, {\'credit_id\': \'5892149ec3a3686348004798\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1336438, \'job\': \'Assistant Editor\', \'name\': \'Dana Mulligan\', \'profile_path\': None}, {\'credit_id\': \'589214adc3a368096a0095db\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1748718, \'job\': \'Editorial Coordinator\', \'name\': \'Deirdre Morrison\', \'profile_path\': None}, {\'credit_id\': \'589214c7c3a368097700952b\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748719, \'job\': \'Production Coordinator\', \'name\': \'Lori Lombardo\', \'profile_path\': None}, {\'credit_id\': \'589214cec3a368096a009603\', \'department\': \'Production\', \'gender\': 0, \'id\': 1748720, \'job\': \'Production Coordinator\', \'name\': \'Ellen Devine\', \'profile_path\': None}, {\'credit_id\': \'589214e39251412dc8009904\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1468014, \'job\': \'Unit Publicist\', \'name\': \'Lauren Beth Strogoff\', \'profile_path\': None}, {\'credit_id\': \'58921544c3a3686b0a00507d\', \'department\': \'Sound\', \'gender\': 2, \'id\': 2216, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Rydstrom\', \'profile_path\': \'/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg\'}, {\'credit_id\': \'5892154c9251412dd1009a56\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1425978, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary Summers\', \'profile_path\': None}, {\'credit_id\': \'58921555c3a36809680091bd\', \'department\': \'Sound\', \'gender\': 2, \'id\': 8276, \'job\': \'Supervising Sound Editor\', \'name\': \'Tim Holland\', \'profile_path\': None}, {\'credit_id\': \'589215c39251412dcb009c12\', \'department\': \'Sound\', \'gender\': 0, \'id\': 7069, \'job\': \'Sound Effects Editor\', \'name\': \'Pat Jackson\', \'profile_path\': None}, {\'credit_id\': \'58921698c3a368096a009788\', \'department\': \'Crew\', \'gender\': 2, \'id\': 15894, \'job\': \'Sound Design Assistant\', \'name\': \'Tom Myers\', \'profile_path\': None}, {\'credit_id\': \'589216a89251412dc2009ca4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1414177, \'job\': \'Assistant Sound Editor\', \'name\': \'J.R. 

In [8]:
import json
import ast

def gender_count(cast_list):
    genders_count = {0:0, 1:0, 2:0}
    cast_list = ast.literal_eval((cast_list))
    for member in cast_list:
    
        member_gender = member['gender']
        genders_count[member_gender] += 1
    
    return genders_count



movies_credits_df["N_male_actors"] = movies_credits_df['cast'].apply(lambda x: gender_count(x)[2])
movies_credits_df["N_female_actors"] = movies_credits_df['cast'].apply(lambda x: gender_count(x)[1])
movies_credits_df["N_other_actors"] = movies_credits_df['cast'].apply(lambda x: gender_count(x)[0])

In [9]:
def main_characters(cast_list, k=3):
    cast_list = ast.literal_eval(cast_list)
    main_characters = []
    for member in cast_list[:min(k, len(cast_list))]:
        main_characters.append(member['name'])

    while len(main_characters) < k:
        main_characters.append("No_Name")
    return main_characters

In [10]:
movies_credits_df["main_character_0"] = movies_credits_df['cast'].apply(lambda x: main_characters(x)[0])
movies_credits_df["main_character_1"] = movies_credits_df['cast'].apply(lambda x: main_characters(x)[1])
movies_credits_df["main_character_2"] = movies_credits_df['cast'].apply(lambda x: main_characters(x)[2])

In [11]:
def director(crew_list):
    crew_list = ast.literal_eval(crew_list)
    for member in crew_list:
        if member['job'] == 'Director':
            return member['name']
    
    return 'No_name'

In [12]:
movies_credits_df['director'] = movies_credits_df['crew'].apply(lambda x: director(x))

In [13]:
movies_credits_df

,cast,crew,id,N_male_actors,N_female_actors,N_other_actors,main_character_0,main_character_1,main_character_2,director
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,9,3,1,Tom Hanks,Tim Allen,Don Rickles,John Lasseter
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,9,6,11,Robin Williams,Jonathan Hyde,Kirsten Dunst,Joe Johnston
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,4,3,0,Walter Matthau,Jack Lemmon,Ann-Margret,Howard Deutch
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,6,4,0,Whitney Houston,Angela Bassett,Loretta Devine,Forest Whitaker
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,6,5,1,Steve Martin,Diane Keaton,Martin Short,Charles Shyer
...,...,...,...,...,...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,0,1,2,Leila Hatami,Kourosh Tahami,Elham Korda,Hamid Nematollah
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,1,1,9,Angel Aquino,Perry Dizon,Hazel Orencio,Lav Diaz
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,11,2,2,Erika Eleniak,Adam Baldwin,Julie du Page,Mark L. Lester
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,2,2,1,Iwan Mosschuchin,Nathalie Lissenko,Pavel Pavlov,Yakov Protazanov
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,0,0,0,No_Name,No_Name,No_Name,Daisy Asquith

In [14]:
a = []
a.extend(movies_credits_df['main_character_0'].unique().tolist())
a.extend(movies_credits_df['main_character_1'].unique().tolist())
a.extend(movies_credits_df['main_character_2'].unique().tolist())
print(len(set(a)))

47482

In [15]:
file_path_movies_metadata = os.path.join(os.path.pardir, "data/movies_metadata.csv")
file_path_movies_ratings = os.path.join(os.path.pardir, "data/ratings.csv")
movies_metadata_df = pd.read_csv(file_path_movies_metadata)
movies_ratings_df = pd.read_csv(file_path_movies_ratings)

C:\Users\Mrabe\AppData\Local\Temp\ipykernel_12192\836164043.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata_df = pd.read_csv(file_path_movies_metadata)

In [16]:
movies_metadata_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [90]:
movies_metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [17]:
movies_ratings_df.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [35]:
cross_movie_director_ratings = pd.DataFrame()
cross_movie_director_ratings['director'] = movies_credits_df['director']
cross_movie_director_ratings['movieId'] = movies_credits_df['id']

In [36]:
# First, calculate the mean, max, min ratings for each movie
mean_ratings = movies_ratings_df.groupby('movieId')['rating'].mean().reset_index()
max_ratings = movies_ratings_df.groupby('movieId')['rating'].max().reset_index()
min_ratings = movies_ratings_df.groupby('movieId')['rating'].min().reset_index()

# Rename the columns for clarity
mean_ratings.columns = ['movieId', 'mean_rating']
min_ratings.columns = ['movieId', 'min_rating']
max_ratings.columns = ['movieId', 'max_rating']

# Merge the mean, max, min ratings back with the cross_movie_director_ratings dataframe
optimized_df = cross_movie_director_ratings.merge(mean_ratings, how='left', on='movieId')
optimized_df_max = cross_movie_director_ratings.merge(max_ratings, how='left', on='movieId')
optimized_df_min = cross_movie_director_ratings.merge(min_ratings, how='left', on='movieId')

# If you want to keep the original structure and column names
cross_movie_director_ratings['mean_rating'] = optimized_df['mean_rating']
cross_movie_director_ratings['max_rating'] = optimized_df_max['max_rating']
cross_movie_director_ratings['min_rating'] = optimized_df_min['min_rating']

In [61]:
cross_movie_director_ratings

               director  movieId  mean_rating  max_rating  min_rating
0         John Lasseter      862     3.598930         5.0         1.0
1          Joe Johnston     8844     3.760163         5.0         0.5
2         Howard Deutch    15602          NaN         NaN         NaN
3       Forest Whitaker    31357          NaN         NaN         NaN
4         Charles Shyer    11862          NaN         NaN         NaN
...                 ...      ...          ...         ...         ...
45471  Hamid Nematollah   439050          NaN         NaN         NaN
45472          Lav Diaz   111109     2.583333         3.5         0.5
45473    Mark L. Lester    67758          NaN         NaN         NaN
45474  Yakov Protazanov   227506          NaN         NaN         NaN
45475     Daisy Asquith   461257          NaN         NaN         NaN

[45476 rows x 5 columns]

In [72]:
cross_movie_main_character_0_ratings = pd.DataFrame()
cross_movie_main_character_0_ratings['main_character_0'] = movies_credits_df['main_character_0']
cross_movie_main_character_0_ratings['movieId'] = movies_credits_df['id']

cross_movie_main_character_0_ratings = cross_movie_main_character_0_ratings.merge(movies_ratings_df, how='left', on='movieId')

# Calculating the mean, max, and min ratings by main character
mean_rating_by_main_character = cross_movie_main_character_0_ratings.groupby('main_character_0')['rating'].mean().reset_index()
max_rating_by_main_character = cross_movie_main_character_0_ratings.groupby('main_character_0')['rating'].max().reset_index()
min_rating_by_main_character = cross_movie_main_character_0_ratings.groupby('main_character_0')['rating'].min().reset_index()

# Renaming the columns
mean_rating_by_main_character.columns = ['main_character_0', 'mean_rating_by_main_character_0']
max_rating_by_main_character.columns = ['main_character_0', 'max_rating_by_main_character_0']
min_rating_by_main_character.columns = ['main_character_0', 'min_rating_by_main_character_0']

# Merging the dataframes
optimized_df_main_character_0_mean = cross_movie_main_character_0_ratings.merge(mean_rating_by_main_character, how='left', on='main_character_0')
optimized_df_main_character_0_max = cross_movie_main_character_0_ratings.merge(max_rating_by_main_character, how='left', on='main_character_0')
optimized_df_main_character_0_min = cross_movie_main_character_0_ratings.merge(min_rating_by_main_character, how='left', on='main_character_0')

# Adding the new columns to the original dataframe
cross_movie_main_character_0_ratings['mean_rating_by_main_character_0'] = optimized_df_main_character_0_mean['mean_rating_by_main_character_0']
cross_movie_main_character_0_ratings['max_rating_by_main_character_0'] = optimized_df_main_character_0_max['max_rating_by_main_character_0']
cross_movie_main_character_0_ratings['min_rating_by_main_character_0'] = optimized_df_main_character_0_min['min_rating_by_main_character_0']

cross_movie_main_character_0_ratings = cross_movie_main_character_0_ratings.drop_duplicates(subset='movieId').reset_index()

In [71]:
cross_movie_main_character_1_ratings = pd.DataFrame()
cross_movie_main_character_1_ratings['main_character_1'] = movies_credits_df['main_character_1']
cross_movie_main_character_1_ratings['movieId'] = movies_credits_df['id']

cross_movie_main_character_1_ratings = cross_movie_main_character_1_ratings.merge(movies_ratings_df, how='left', on='movieId')

# Calculating the mean, max, and min ratings by main character
mean_rating_by_main_character_1 = cross_movie_main_character_1_ratings.groupby('main_character_1')['rating'].mean().reset_index()
max_rating_by_main_character_1 = cross_movie_main_character_1_ratings.groupby('main_character_1')['rating'].max().reset_index()
min_rating_by_main_character_1 = cross_movie_main_character_1_ratings.groupby('main_character_1')['rating'].min().reset_index()

# Renaming the columns
mean_rating_by_main_character_1.columns = ['main_character_1', 'mean_rating_by_main_character_1']
max_rating_by_main_character_1.columns = ['main_character_1', 'max_rating_by_main_character_1']
min_rating_by_main_character_1.columns = ['main_character_1', 'min_rating_by_main_character_1']

# Merging the dataframes
optimized_df_main_character_1_mean = cross_movie_main_character_1_ratings.merge(mean_rating_by_main_character_1, how='left', on='main_character_1')
optimized_df_main_character_1_max = cross_movie_main_character_1_ratings.merge(max_rating_by_main_character_1, how='left', on='main_character_1')
optimized_df_main_character_1_min = cross_movie_main_character_1_ratings.merge(min_rating_by_main_character_1, how='left', on='main_character_1')

# Adding the new columns to the original dataframe
cross_movie_main_character_1_ratings['mean_rating_by_main_character_1'] = optimized_df_main_character_1_mean['mean_rating_by_main_character_1']
cross_movie_main_character_1_ratings['max_rating_by_main_character_1'] = optimized_df_main_character_1_max['max_rating_by_main_character_1']
cross_movie_main_character_1_ratings['min_rating_by_main_character_1'] = optimized_df_main_character_1_min['min_rating_by_main_character_1']

cross_movie_main_character_1_ratings = cross_movie_main_character_1_ratings.drop_duplicates(subset='movieId').reset_index()

In [87]:
cross_movie_main_character_2_ratings = pd.DataFrame()
cross_movie_main_character_2_ratings['main_character_2'] = movies_credits_df['main_character_2']
cross_movie_main_character_2_ratings['movieId'] = movies_credits_df['id']

cross_movie_main_character_2_ratings = cross_movie_main_character_2_ratings.merge(movies_ratings_df, how='left', on='movieId')

# Calculating the mean, max, and min ratings by main character
mean_rating_by_main_character_2 = cross_movie_main_character_2_ratings.groupby('main_character_2')['rating'].mean().reset_index()
max_rating_by_main_character_2 = cross_movie_main_character_2_ratings.groupby('main_character_2')['rating'].max().reset_index()
min_rating_by_main_character_2 = cross_movie_main_character_2_ratings.groupby('main_character_2')['rating'].min().reset_index()

# Renaming the columns
mean_rating_by_main_character_2.columns = ['main_character_2', 'mean_rating_by_main_character_2']
max_rating_by_main_character_2.columns = ['main_character_2', 'max_rating_by_main_character_2']
min_rating_by_main_character_2.columns = ['main_character_2', 'min_rating_by_main_character_2']

# Merging the dataframes
optimized_df_main_character_2_mean = cross_movie_main_character_2_ratings.merge(mean_rating_by_main_character_2, how='left', on='main_character_2')
optimized_df_main_character_2_max = cross_movie_main_character_2_ratings.merge(max_rating_by_main_character_2, how='left', on='main_character_2')
optimized_df_main_character_2_min = cross_movie_main_character_2_ratings.merge(min_rating_by_main_character_2, how='left', on='main_character_2')

# Adding the new columns to the original dataframe
cross_movie_main_character_2_ratings['mean_rating_by_main_character_2'] = optimized_df_main_character_2_mean['mean_rating_by_main_character_2']
cross_movie_main_character_2_ratings['max_rating_by_main_character_2'] = optimized_df_main_character_2_max['max_rating_by_main_character_2']
cross_movie_main_character_2_ratings['min_rating_by_main_character_2'] = optimized_df_main_character_2_min['min_rating_by_main_character_2']

cross_movie_main_character_2_ratings = cross_movie_main_character_2_ratings.drop_duplicates(subset='movieId').reset_index()

In [88]:
cross_movie_main_character_0_ratings['mean_rating_by_main_character_0'] = cross_movie_main_character_0_ratings['mean_rating_by_main_character_0'].fillna(cross_movie_main_character_0_ratings['mean_rating_by_main_character_0'].mean())
cross_movie_main_character_0_ratings['max_rating_by_main_character_0'] = cross_movie_main_character_0_ratings['max_rating_by_main_character_0'].fillna(cross_movie_main_character_0_ratings['max_rating_by_main_character_0'].mean())
cross_movie_main_character_0_ratings['min_rating_by_main_character_0'] = cross_movie_main_character_0_ratings['min_rating_by_main_character_0'].fillna(cross_movie_main_character_0_ratings['min_rating_by_main_character_0'].mean())

cross_movie_main_character_1_ratings['mean_rating_by_main_character_1'] = cross_movie_main_character_1_ratings['mean_rating_by_main_character_1'].fillna(cross_movie_main_character_1_ratings['mean_rating_by_main_character_1'].mean())
cross_movie_main_character_1_ratings['max_rating_by_main_character_1'] = cross_movie_main_character_1_ratings['max_rating_by_main_character_1'].fillna(cross_movie_main_character_1_ratings['max_rating_by_main_character_1'].mean())
cross_movie_main_character_1_ratings['min_rating_by_main_character_1'] = cross_movie_main_character_1_ratings['min_rating_by_main_character_1'].fillna(cross_movie_main_character_1_ratings['min_rating_by_main_character_1'].mean())

cross_movie_main_character_2_ratings['mean_rating_by_main_character_2'] = cross_movie_main_character_2_ratings['mean_rating_by_main_character_2'].fillna(cross_movie_main_character_2_ratings['mean_rating_by_main_character_2'].mean())
cross_movie_main_character_2_ratings['max_rating_by_main_character_2'] = cross_movie_main_character_2_ratings['max_rating_by_main_character_2'].fillna(cross_movie_main_character_2_ratings['max_rating_by_main_character_2'].mean())
cross_movie_main_character_2_ratings['min_rating_by_main_character_2'] = cross_movie_main_character_2_ratings['min_rating_by_main_character_2'].fillna(cross_movie_main_character_2_ratings['min_rating_by_main_character_2'].mean())

In [84]:
cross_movie_main_character_0_ratings.head()

,index,main_character_0,movieId,userId,rating,timestamp,mean_rating_by_main_character_0,max_rating_by_main_character_0,min_rating_by_main_character_0
0,0,Tom Hanks,862,1923.0,3.0,8.583350e+08,4.006582,5.0,0.5
1,374,Robin Williams,8844,7016.0,4.0,1.257352e+09,3.746078,5.0,0.5
2,497,Walter Matthau,15602,NaN,NaN,NaN,3.479260,5.0,0.5
3,498,Whitney Houston,31357,NaN,NaN,NaN,2.617949,5.0,0.5
4,499,Steve Martin,11862,NaN,NaN,NaN,3.311848,5.0,0.5

In [85]:
cross_movie_main_character_1_ratings.head()

,index,main_character_1,movieId,userId,rating,timestamp,mean_rating_by_main_character_1,max_rating_by_main_character_1,min_rating_by_main_character_1
0,0,Tim Allen,862,1923.0,3.0,8.583350e+08,3.571979,5.0,1.0
1,374,Jonathan Hyde,8844,7016.0,4.0,1.257352e+09,3.760163,5.0,0.5
2,497,Jack Lemmon,15602,NaN,NaN,NaN,3.143179,5.0,0.5
3,498,Angela Bassett,31357,NaN,NaN,NaN,3.471830,5.0,0.5
4,499,Diane Keaton,11862,NaN,NaN,NaN,3.262956,5.0,0.5

In [89]:
cross_movie_main_character_2_ratings.head()

,index,main_character_2,movieId,userId,rating,timestamp,mean_rating_by_main_character_2,max_rating_by_main_character_2,min_rating_by_main_character_2
0,0,Don Rickles,862,1923.0,3.0,8.583350e+08,3.671031,5.000000,0.500000
1,374,Kirsten Dunst,8844,7016.0,4.0,1.257352e+09,3.707764,5.000000,0.500000
2,497,Ann-Margret,15602,NaN,NaN,NaN,3.067925,5.000000,0.500000
3,498,Loretta Devine,31357,NaN,NaN,NaN,3.251223,4.769761,0.782669
4,499,Martin Short,11862,NaN,NaN,NaN,3.097222,5.000000,0.500000

In [22]:
import matplotlib.pyplot as plt
movies_metadata_df["adult"].value_counts()

adult
False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: count, dtype: int64

In [23]:
file_path_keywords = os.path.join(os.path.pardir, 'data/keywords.csv')
keywords_df = pd.read_csv(file_path_keywords)

In [24]:
keywords_df["keywords"].iloc[0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [25]:
file_path_links = os.path.join(os.path.pardir, 'data/links.csv')
links_df = pd.read_csv(file_path_links)

In [26]:
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0