In [1]:
import numpy as np
import os
import pandas as pd
from utils import sample_k_movies
from MAB_class import MABAgent, LinUCB_MABAgent
import random
import matplotlib.pyplot as plt

In [2]:
# Loading the data

movies_data_path = os.path.join(os.path.pardir, 'data/processed_data.csv') 
movies_data = pd.read_csv(movies_data_path)

In [3]:
# Load ratings data
path_ratings = os.path.join(os.path.pardir, 'data/ratings.csv')
ratings_df = pd.read_csv(path_ratings)

# Preparing the datasets for the agents
ratings = ratings_df['rating'].to_numpy()
movieId_of_rating = ratings_df['movieId'].to_numpy()
movie_ids = set(ratings_df['movieId'].unique().tolist())

<strong> Constructing a dictionnary that matches movies ID to their title </strong>

In [4]:
# Dictionnary that macthes moviesID to their original title
movieId_title = dict()

titles = movies_data['original_title'].tolist()
movieId = movies_data['movieId'].tolist()

for title, id in zip(titles, movieId):
    movieId_title[id] = title

In [6]:
# Extracting only the movies we will be using and keeping just the relevant columnns

movies_data = movies_data[movies_data['movieId'].isin(movie_ids)]
movies_indices = movies_data['movieId'].to_numpy()
movies_data = movies_data[['movieId', 'original_title']]

In [9]:
movies_data.head()

   movieId                      original_title
0      318            The Million Dollar Hotel
1      296  Terminator 3: Rise of the Machines
2      593                             Солярис
3      260                        The 39 Steps
4      480                     Monsoon Wedding

## <strong><font color='red'> <div align='center'> I will first experiment with 100 movies </font></div></strong>